.App {
	text-align: center;
}

#background_big,
#background_small {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -2;
}

#overlay {
	background-color: rgba(49, 49, 49, 0.548);
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}

/* FONTS */

@font-face {
	font-family: 'poppinsbold';
	src: url('./fonts/poppins-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'poppinsmedium';
	src: url('./fonts/poppins-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'poppinssemibold';
	src: url('./fonts/poppins-semibold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'poppinsregular';
	src: url('./fonts/poppins-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'rudaregular';
	src: url('./fonts/Ruda-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'rudaextrabold';
	src: url('./fonts/Ruda-ExtraBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'rudabold';
	src: url('./fonts/Ruda-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Silk-Serif';
	src: url('./fonts/silk-serif/Silk-Serif-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Silk-Serif-SemiBold';
	src: url('./fonts/silk-serif/Silk-Serif-SemiBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Silk-Serif-Bold';
	src: url('./fonts/silk-serif/Silk-Serif-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

h1 {
	text-transform: capitalize;
	color: white;
	font-family: 'Silk-Serif';
	text-align: center;
	font-size: 3.2rem;
}

p {
	color: white;
}

/* HOME */

.row_title {
	max-width: 675px;
	margin: auto;
	min-height: 79vh;
	align-items: center;
	/* background-color: rgba(0, 255, 242, 0.274); */
}

.row_learn_more {
	max-width: 675px;
	margin: auto;
	min-height: 12vh;
	display: grid;
	grid-template: 1fr 1fr / 1fr;
	/* background-color: rgba(119, 0, 255, 0.274); */
}

.text_learn_more {
	align-self: flex-end;
	font-size: 0.9rem;
	color: white;
	text-transform: uppercase;
	font-family: 'rudaregular';
	text-align: center;
	/* background-color: rgba(0, 255, 242, 0.274); */
}

/* SCROLL LINE */

.col_scrolldown {
	width: 10%;
	align-self: flex-end;
	justify-self: center;
}

.scrolldown {
	width: 1px;
	height: 60px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	background: linear-gradient(to bottom, white 50%, rgba(255, 255, 255, 0) 50%);
	background-position: 0 -60px;
	background-size: 100% 200%;
	animation: scrolldown 2.2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
}
@keyframes scrolldown {
	0% {
		background-position: 0 -60px;
	}
	75% {
		background-position: 0 0;
	}
	100% {
		background-position: 0 60px;
	}
}

/* NAVBAR */

.navbar {
	margin: 2rem 0rem;
	display: grid;
	grid-template: 1fr / 2fr 8fr 2fr;
	width: 100%;
	height: 60px;
	z-index: 2;
}

.navbar_brand {
	grid-area: 1 / 1 / span 1 / span 1;
	align-self: center;
	justify-self: center;
	text-decoration: none;
}

.navbar-light .navbar-brand {
	font-family: 'Silk-Serif-Bold';
	text-transform: uppercase;
	color: white;
	letter-spacing: 0.1rem;
	font-size: 1.5rem;
	text-decoration: none;
	/* text-shadow: 2px 2px 2px black; */
}

.navbar-light .navbar-brand:hover {
	color: white;
}

.navbar_nav {
	grid-area: 1 / 2 / span 1 / span 1;
	justify-content: center;
}

.navbar-nav {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	min-width: 400px;
	max-width: 400px;
	align-content: space-evenly;
	justify-items: center;
}

.navbar-nav a {
	font-family: 'rudabold';
	text-transform: uppercase;
	color: white;
	font-weight: 450;
	text-decoration: none;
}

.navbar-nav a {
	transition: 0.5s ease-in-out;
}

a.current {
	text-decoration: underline;
	text-underline-offset: 0.5rem;
}

#background_small {
	display: none;
}

.col_language {
	/* background-color: rgba(0, 255, 255, 0.459); */
	display: flex;
	margin: auto;
	grid-gap: 0.5rem;
	max-width: 170px;
}

.col_language .btn {
	font-family: 'rudabold';
	text-transform: uppercase;
	font-weight: 450;
	text-decoration: none;
	color: white;
	height: 60px;
	transition: 0.5s ease-in-out;
}

.col_language .btn svg {
	opacity: 0.75;
}

.button_language_EN {
	display: flex;
	flex-direction: column;
	align-self: center;
	grid-gap: 0.5rem;
	font-size: 0.9rem;
}

.button_language_FR {
	display: flex;
	flex-direction: column;
	align-self: center;
	grid-gap: 0.5rem;
	font-size: 0.9rem;
}

.button_language_CN {
	font-size: 0.75rem;
	display: flex;
	flex-direction: column;
	align-self: center;
	grid-gap: 0.5rem;
}

.button_language_CN svg {
	margin-top: 0.095rem;
}

.btn-dark {
	background-color: #21252900;
	border-color: #21252900;
}

.flag_cn {
	transform: scale(0.95);
}

.flag_us {
	transform: scale(1.1);
}

.flag_fr {
	transform: scale(1.4);
}

.button_language_hover {
	background-color: #1c1f238a;
	border-color: #1a1e2100;
}

/* FOOTER */

.footer {
	padding: 1rem;
	z-index: 2;
	display: grid;
	height: 150px;
	grid-template: 2fr 1fr / repeat(12, 1fr);
	margin-left: 8rem;
	margin-right: 8rem;
}

.navigation-footer a {
	font-family: 'rudabold';
	font-size: 0.85rem;
	text-transform: uppercase;
	color: white;
	font-weight: 450;
	text-decoration: none;
}

.navigation-footer a {
	transition: 0.5s ease-in-out;
}

.navigation-footer {
	grid-area: 1 / 1 / span 1 / span 12;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	min-width: 400px;
	max-width: 400px;
	align-content: space-evenly;
	justify-items: flex-start;
}

.navigation-footer p {
	font-family: 'rudabold';
	font-size: 0.85rem;
	text-transform: uppercase;
	color: white;
	font-weight: 450;
	text-decoration: none;
}

.signature-footer {
	grid-area: 2 / 1 / span 1 / span 12;
	display: flex;
	justify-items: flex-end;
	justify-content: flex-end;
	gap: 1.5rem;
}

.signature-footer p {
	font-family: 'rudabold';
	font-size: 0.8rem;
	color: #ffffff;
	text-transform: capitalize;
	text-decoration: none;
	align-items: center;
}

/* WINES */

.row_wines {
	margin: auto;
	width: 100%;
	max-width: 1500px;
	min-height: 79vh;
	align-items: center;
	/* background-color: rgba(122, 139, 139, 0.671); */
}

.col_wines {
	margin: auto;
	max-width: 450px;
	/* background-color: rgba(222, 255, 101, 0.774); */
}

.card_wine {
	background-color: #232221ef;
	border-radius: 0.1rem;
	text-align: center;
}

.card_wine .card-body .card-title {
	color: white;
	font-family: 'Silk-Serif';
	font-size: 2rem;
	text-transform: uppercase;
	text-decoration: none;
}

.card_wine .card-body .card-text {
	color: white;
	font-family: 'rudaregular';
	text-transform: uppercase;
	font-size: 0.75rem;
	letter-spacing: 0.1rem;
	text-decoration: none;
	margin-bottom: 1rem;
}

.col_wines a {
	text-decoration: none;
}

.image_wine {
	padding: 2rem 1rem;
	width: 50%;
	margin: auto;
	transition: all 0.3s ease-out;
}

.card-title {
	margin-bottom: 1rem;
}

/* CONTACT */

.container_contact {
	min-height: 100vh;
	padding-top: 5rem;
}

.container_inner_contact {
	background-color: #232221;
	min-height: 400px;
	display: grid;
	grid-template: 1fr / 4fr 3fr;
	column-gap: 2rem;
	max-width: 1800px;
}

.contact_left {
	/* background-color: rgba(0, 255, 255, 0.281); */
	padding: 2rem;
	display: grid;
	grid-template: repeat(3, 1fr) / 1fr;
}

.contact_left .row {
	justify-self: flex-start;
	margin: 0;
	padding: 2rem 0rem 0rem 2rem;
	max-width: 700px;
}

.contact_left .row h1 {
	font-family: 'Silk-Serif';
	font-size: 2.2rem;
	text-transform: uppercase;
	align-self: flex-end;
}

.contact_left .row h4 {
	padding-top: 0rem;
	font-family: 'rudaregular';
	font-size: 0.8rem;
	letter-spacing: 0.05rem;
	text-transform: inherit;
	color: white;
	align-self: flex-start;
}

.contact_left .row p {
	font-family: 'rudaregular';
	font-size: 0.8rem;
	text-transform: capitalize;
	color: white;
	letter-spacing: 0.1rem;
	align-self: flex-start;
}

.contact_right {
	/* background-color: rgba(0, 0, 255, 0.342); */
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(2, 1fr);
	height: 60%;
	padding: 0rem;
	align-self: center;
	margin-top: 3.5rem;
}

.contact_right .row {
	width: 50%;
}

.title_contact {
	font-family: 'rudaregular';
	text-transform: uppercase;
	font-size: 0.78rem;
	color: #a67b3b;
	font-weight: 600;
	letter-spacing: 0.15rem;
}

.text_contact {
	font-family: 'rudaregular';
	text-transform: uppercase;
	font-size: 0.8rem;
	color: white;
	letter-spacing: 0.15rem;
}

/* SELECT */

.disable-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* STORY */

.container_story {
	margin-bottom: 5rem;
}

.row_description_story {
	max-width: 700px;
	margin: auto;
	min-height: 9vh;
	align-items: center;
}

.title_story {
	margin: 4rem 0rem;
	font-size: 2.3rem;
	text-transform: uppercase;
}

.row_picture_story_1 {
	/* background-color: rgba(0, 255, 255, 0.397); */
	min-height: 120vh;
	margin-top: 15rem;
	display: grid;
	grid-template: repeat(24, 1fr) / repeat(24, 1fr);
}

.col_picture_story_1 {
	background-color: rgb(243, 238, 230);
	grid-area: 1 / 1 / span 24 / span 14;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.col_picture_story_3 {
	background-color: rgb(243, 238, 230);
	grid-area: 1 / 10 / span 24 / span 24;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.col_picture_story_2 {
	grid-area: 7 / 13 / span 22 / span 11;
	margin: 0rem;
	padding: 0rem;
	overflow: hidden;
}

.col_picture_story_4 {
	grid-area: 7 / 2 / span 22 / span 11;
	margin: 0rem;
	padding: 0rem;
	overflow: hidden;
}

.col_picture_story_picture_1 {
	width: 100%;
}

.col_picture_story_1 h1,
.col_picture_story_3 h1 {
	color: black;
	font-size: 2rem;
	line-height: 1.3;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	text-align: start;
}

.col_picture_story_1 p,
.col_picture_story_3 p {
	color: black;
	font-size: 0.9rem;
	line-height: 1.3;
	letter-spacing: 0.02em;
	text-transform: capitalize;
}

.text_story {
	/* background-color: aqua; */
	max-width: 500px;
	padding: 0rem 2rem;
}

/* WINES */

.row_wines_1 {
	/* background-color: rgba(0, 255, 255, 0.5); */
	display: grid;
	grid-template: repeat(12, 1fr) / repeat(12, 1fr);
	max-width: 1500px;
	margin: 5rem auto;
	min-height: 50vh;
}

.col_wines_1,
.col_wines_4 {
	display: flex;
	justify-self: center;
	align-items: center;
}

.col_wines_1 {
	/* background-color: rgba(216, 185, 8, 0.5); */
	grid-area: 1 / 1 / span 12 / span 4;
	transition: all 0.3s ease-out;
}

.col_wines_1:hover {
	transform: translate(0px, -10px);
}

.col_wines_2 {
	/* background-color: rgba(255, 0, 55, 0.5); */
	grid-area: 1 / 5 / span 12 / span 9;
	display: flex;
	flex-direction: column;
	align-self: center;
}

.col_wines_3 {
	/* background-color: rgba(255, 0, 55, 0.5); */
	grid-area: 1 / 1 / span 12 / span 8;
	display: flex;
	flex-direction: column;
	align-self: center;
}
.col_wines_4 {
	/* background-color: rgba(216, 185, 8, 0.5); */
	grid-area: 1 / 9 / span 12 / span 9;
	transition: all 0.3s ease-out;
}

.col_wines_4:hover {
	transform: translate(0px, -10px);
}

.animated_wines {
	display: flex;
	justify-content: center;
	align-content: center;
}

.image_wines_1 {
	width: 35%;
}

.wine_description {
	background-color: #232221;
	height: 30vh;
	display: grid;
	grid-template: repeat(12, 1fr) / repeat(12, 1fr);
}

.wine_description_left {
	/* background-color: rgba(227, 255, 127, 0.377); */
	grid-area: 1 / 1 / span 12 / span 6;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: auto;
	padding-left: 2rem;
}

.wine_description_left h1 {
	font-family: 'rudaregular';
	font-size: 2rem;
	text-transform: uppercase;
}
.wine_description_left h4 {
	padding-top: 0rem;
	font-family: 'rudaregular';
	font-size: 0.9rem;
	text-transform: capitalize;
	color: white;
}
.wine_description_left p {
	font-family: 'rudaregular';
	font-size: 0.9rem;
	text-transform: capitalize;
	color: white;
	justify-self: flex-end;
}

.wine_description_right {
	/* background-color: rgba(127, 129, 255, 0.541); */
	grid-area: 1 / 7 / span 12 / span 6;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(2, 1fr);
	padding: 1rem;
	max-height: 25vh;
	margin: auto;
}

.wine_description_right .row {
	margin-left: 1.5rem;
	justify-self: flex-start;
	align-items: center;
}

.wine_description_right .title_contact {
	/* background-color: rgba(0, 0, 0, 0.438); */
	margin: 0rem;
	margin-top: 0.5rem;
	padding: 0rem;
}

.wine_description_right .text_contact {
	/* background-color: rgba(0, 0, 0, 0.438); */
	margin: 0rem;
	margin-bottom: 0.5rem;
	padding: 0rem;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1200px) {
	.col_picture_story_2 {
		grid-area: 10 / 13 / span 22 / span 11;
	}
	.col_picture_story_4 {
		grid-area: 10 / 2 / span 22 / span 11;
	}

	.text_story {
		max-width: 450px;
	}
}

@media only screen and (max-width: 992px) {
	.footer {
		margin: 0rem;
	}

	.navigation-footer {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		align-content: space-evenly;
		justify-self: center;
		justify-items: center;
	}

	.signature-footer {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-content: space-evenly;
		justify-items: center;
		justify-self: center;
		max-width: 400px;
	}

	.signature-footer .footer_year {
		grid-area: auto;
	}
	.signature-footer .footer_signature {
		grid-area: auto;
	}

	.navigation-footer {
		box-shadow: inset 0 -1px 0 0 #96968f5b;
		margin-bottom: 1rem;
	}

	.animated {
		margin: 1rem;
	}

	.contact_left {
		padding: 2rem 5rem;
	}

	.contact_left .row {
		padding: 1rem;
	}

	.row_contact_right {
		margin-left: 5.5rem;
	}

	.container_inner_contact {
		display: flex;
		flex-wrap: wrap;
	}

	.contact_right {
		justify-items: flex-start;
		margin: auto;
		margin-top: 0rem;
	}

	.row_picture_story_1 {
		max-height: 50vh;
		margin-top: 5rem;
	}

	.col_picture_story_1,
	.col_picture_story_3 {
		grid-area: 1 / 1 / span 24 / span 24;
		display: grid;
		grid-template: repeat(24, 1fr) / repeat(24, 1fr);
		align-items: center;
		justify-content: center;
	}

	.col_picture_story_2,
	.col_picture_story_4 {
		grid-area: 12 / 1 / span 22 / span 24;
	}

	.text_story {
		max-width: 650px;
		grid-area: 6 / 5 / span 3 / span 16;
		padding: 0rem;
		margin: 0rem;
	}

	.container_wines {
		padding: 0rem;
	}

	.row_wines_1 {
		grid-template: repeat(12, 1fr) / repeat(12, 1fr);
		height: 120vh;
	}

	.col_wines_1 {
		grid-area: 1 / 1 / span 6 / span 12;
	}

	.col_wines_2 {
		grid-area: 9 / 1 / span 12 / span 12;
	}

	.col_wines_3 {
		grid-area: 9 / 1 / span 12 / span 12;
	}

	.col_wines_4 {
		grid-area: 1 / 1 / span 6 / span 12;
	}

	.animated_wines {
		margin: auto;
	}
}

@media only screen and (max-width: 768px) {
	#background_small {
		display: block;
	}
	#background_big {
		display: none;
	}

	.navbar {
		display: flex;
	}

	.navbar_nav {
		width: 95%;
		margin: 1rem 0rem;
		display: flex;
		background-color: rgba(34, 37, 37, 0.466);
		border-radius: 0.2rem;
	}

	.navbar-nav {
		padding: 1rem 0.7rem;
		display: grid;
		justify-content: center;
		grid-template: repeat(4, 1fr) / 1fr;
	}

	.navbar-nav a {
		transition: 0s ease-in-out;
		margin: 0.2rem 0rem;
	}

	a.current {
		text-decoration: underline;
		text-underline-offset: 0.2rem;
	}

	.row_title {
		max-width: 475px;
	}

	.col_title h1 {
		font-size: 2.5rem;
	}

	.card_wine {
		flex-direction: row;
	}

	.col_wines {
		min-width: 100%;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.image_wine {
		padding: 2rem 1rem;
		width: 15%;
		margin-left: 3rem;
	}

	.card-body {
		align-self: center;
	}

	.contact_left {
		padding: 1rem;
	}

	.contact_right {
		justify-items: flex-start;
		margin-top: 0rem;
		padding: 1rem;
	}

	.row_contact_right {
		margin-left: 1.2rem;
	}

	.row_wines_1 {
		grid-template: repeat(12, 1fr) / repeat(12, 1fr);
		height: 150vh;
	}

	.col_wines_1 {
		grid-area: 1 / 1 / span 6 / span 12;
		height: 100%;
	}

	.col_wines_2 {
		grid-area: 7 / 1 / span 12 / span 12;
		height: 100%;
	}

	.col_wines_4 {
		grid-area: 1 / 1 / span 6 / span 12;
		height: 100%;
	}

	.col_wines_3 {
		grid-area: 7 / 1 / span 12 / span 12;
		height: 100%;
	}

	.wine_description {
		height: 100%;
		display: grid;
		grid-template: repeat(12, 1fr) / repeat(12, 1fr);
	}

	.wine_description_left {
		grid-area: 1 / 1 / span 6 / span 12;
		display: flex;
		margin: auto;
		align-items: flex-start;
		align-self: flex-start;
		align-content: flex-start;
		justify-content: flex-start;
		justify-items: flex-start;
		justify-self: flex-start;
	}

	.wine_description_right {
		grid-area: 5 / 2 / span 12 / span 12;
		margin: auto;
		align-items: center;
		align-self: center;
		align-content: center;
		justify-content: center;
		justify-items: center;
		justify-self: center;
	}
}

@media only screen and (max-width: 576px) {
	.navigation-footer {
		display: grid;
		grid-template: repeat(4, 1fr) / 1fr;
		align-content: space-evenly;
		justify-self: center;
		justify-items: center;
	}

	.signature-footer {
		margin-top: 1rem;
		display: grid;
		grid-template: repeat(2, 1fr) / 1fr;
		align-content: space-evenly;
		justify-self: center;
		justify-items: center;
	}

	.navigation-footer {
		padding-bottom: 1rem;
		gap: 1rem;
	}

	.signature-footer {
		gap: 0rem;
	}

	.row_title {
		max-width: 475px;
		margin-top: 5rem;
	}

	.col_title h1 {
		font-size: 1.5rem;
	}

	.row_title {
		min-height: 67vh;
	}

	.image_wine {
		width: 25%;
	}

	.row_contact_right {
		margin: auto 1rem;
		width: 100%;
	}

	.contact_right {
		display: grid;
		grid-template: repeat(5, 1fr) / 1fr;
		row-gap: 1rem;
		height: 60%;
		padding: 0rem;
		align-self: center;
		margin-top: 2rem;
	}

	.animated {
		margin: 0rem;
	}

	.contact_left .row {
		padding: 1rem 0rem;
	}

	.container_contact {
		min-height: 100vh;
		padding: initial;
	}

	.row_picture_story_1 {
		margin-top: 5rem;
		display: flex;
		flex-direction: column;
	}

	.col_picture_story_1,
	.col_picture_story_3 {
		display: flex;
	}

	.text_story {
		padding: 1rem;
		background-color: rgb(243, 238, 230);
	}

	.col_picture_story_1 h1,
	.col_picture_story_3 h1 {
		font-size: 1.5rem;
	}

	.row_picture_story_1 {
		min-height: 70vh;
		margin-top: 0rem;
	}

	.row_wines_1 {
		height: 170vh;
	}

	.col_wines_1 {
		grid-area: 1 / 1 / span 5 / span 12;
	}

	.col_wines_2 {
		grid-area: 6 / 1 / span 12 / span 12;
	}

	.wine_description_right {
		margin: 0rem;
		padding: 0rem;
	}

	.wine_description_left h1 {
		font-size: 1.5rem;
	}

	.wine_description_left h4 {
		font-size: 0.8rem;
	}

	.wine_description_left p {
		font-size: 0.8rem;
	}
}
